server:
  port: 8087
  ssl:
    key-store: src/main/resources/keystore-telegram.p12
    key-store-password: changeit
    keyStoreType: PKCS12
    keyAlias: telegram
    enabled: false

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: com_fox_shop_notify_bot

##---------------------------------------- bot telegram ----------------------------------------##
telegram:
  api:
    url: https://api.telegram.org/bot5083514865:AAEm5VFegVNbDyqc5VZFjKj5ndLOTnoxY88/
    endpoints:
      get-file: getFile
      set-my-commands: setMyCommands
      send-message: sendMessage
      send-photo: sendPhoto
      send-media-group: sendMediaGroup
      delete-message: deleteMessage
  bot:
    name: dev_fox_notify_bot
    token: 5083514865:AAEm5VFegVNbDyqc5VZFjKj5ndLOTnoxY88
  storage:
    chat-id: 403165071
    error:
      file-id-on-telegram: AgACAgIAAxkDAAICfmGiktPq6rbquQ9N513UUPgcZtL6AAIzuTEbaY4ZSbzdORUyFlhRAQADAgADcwADIgQ


base:
  api:
    url: http://localhost:8080/
  endpoint:
    download-image-byte-by-id: api/image/download/byte

